<div class="row mt-5">
    <div class="col">
        <div class="form-group">
            <label>Post Title</label
                >
        <input type="text" 
        class="form-control" 
        id="tile" placeholder="Post Title"
        [(ngModel)]="title">
        
    </div>
    <div class="form-group">
        <label>Post Content</label
            >
 <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>

   
    </div>
</div>
</div>