<div class="row mt-5">
    <div class="col">
        <div class="form-group">
            <label>Post Title</label
                >
        <input type="text" 
        class="form-control" 
        id="tile" placeholder="Post Title"
        [(ngModel)]="title">
        
    </div>
    <div class="form-group">
        <label>Post Content</label
            >
 <app-ngx-editor [placeholder]="'Enter text here...'" 
 [config]="editorConfig" [(ngModel)]="Content"></app-ngx-editor>
<div class="form-group float-right">
    <button (click)="createPost()"
     class="btn btn-warning round">
        SUBMIT
    </button>
</div>
   
   
    </div>
</div>
</div>