<app-signup></app-signup>


<div class="row">
    <div class="col sm-6 text-right pt-5">
        <img src="https://cdn.jsdelivr.net/gh/sansar90/scribeblog@master/What-Is-Scribe-Image.png" height ="300px"
        class="align-middle m-5">

    </div>
    <div class="col sm-4">
        <h2 class="mx-5 my-5">
            What Is Scribe?
        </h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing platform
            where you can share your thoughts and 
            craziest ideas with the World.
            You can also interact with other by commenting 
            on their posts. <br><br>Create a freee Account
            and get Started.<br><br>
            Let's get Started!!
        </h6>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="offset-sm-3 col-sm-8 text-center pt-5 mt-5">
<h5>Contact Us..</h5>
    </div>
    <div class="row">
         <div class="offset-sm-1 col-sm-5 text-left pt-5 vertical-divider mt-5">
            <i class="fa fa-phone mt-3">
    
            </i>8586015942<br/>
            
            <i class="fa fa-envelope mt-3">

              </i>sansargarg42@gmail.com<br/>
            <i class="fa fa-facebook mt-3">

              </i>Scribe Blogs <br/>
           



        
        </div>
<div class="col-sm-6 text-left py-5 my-5 px-5">
<i class="fa fa-map-marker mt-3"></i>Sansar Garg<br/> <br/>

<i class="fa fa-map-marker mt-1"></i>H.no.2602<br/> <br/>

<i class="fa fa-map-marker mt-1"></i>Jawahar Colony,N.I.T. Faridabad <br/> <br/>

<i class="fa fa-map-marker mt-1"></i>Faridabad, Haryana,India-121001

</div>

    </div>
</div>